//
   Created by Alexis on 08/06/2016
extends layout
block title
    title JCC pokémon
block append stylesheets
    link(rel='stylesheet', href='/stylesheets/inscriptionConnexion.css')
block content

    title JCC Pokémon
    img(src="/images/pokemon_logo.png")

    div(id="formConnect")
        h2 Connexion
        form(action='#',method='get' id="connexion")
            div(data-role='fieldcontain')
                fieldset(data-role='controlgroup')
                    input(id='pseudo',type='text',value='',placeholder='Pseudo',name='pseudo')
                    span(class="erreur", id="errPseudo", style="display:none; color:#F00;") Tape ton pseudo !
            div#passworddiv(data-role='fieldcontain')
                fieldset(data-role='controlgroup')
                    input(id='password',type='password',value='',placeholder='Mot de passe',name='password')
                    span(class="erreur",id="errMdp", style="display:none; color:#F00;") Tape ton mot de passe !
                div(data-role='fieldcontain')
            button(type='submit',value='submit',data-transition='fade', data-theme='c' id="connexion_button") Se connecter
        hr
        p Pas de compte ?

        button(value='inscription', id="inscription_move") Inscription
        //fenêtre DIALOG
        div(style="display: none;" id="dialog_si_erreur" title="Erreur !")
            p Le formulaire est incomplet !

    script(src="/js/connexionInscription.js")