extends layout
block append stylesheets
    link(rel='stylesheet', href='/stylesheets/creation-deck.css')
block content

    script(src='/js/creation-deck.js')

    form(method="post")

    div#entete
        h1 Création / Modification du Deck
        button(id="envoiDeck") Enregistrer
    div#menu
        ul
            li.menu1.selected Pokémons
            li.menu2 Energies
            //li.menu3 Champions

    div.cartes
        div#pokemons
            -for (var i = 0; i < card.length; i++) {
                 div.cardContent.hvr-grow

                    img(src="images/cards/pokemon/XY/Generations/" + card[i].card_number + ".png")
                    div.rond

                    input(type="number", id= i+1, step="1" readonly)
            - }

        div#energies
            -for (var i = 74; i < 83; i++) {
                div.cardContent.hvr-grow
                    img(src="images/cards/energy/" + i + ".png")
                    div.rond
                    input(type="number", id= i, step="1" readonly)
            - }

        div#trainer
            -for (var i = 59; i < 73; i++) {
             div.cardContent.hvr-grow
                img(src="images/cards/trainer/" + i + ".png" readonly)
                div.rond
                input(type="number", id= i, step="1")
            - }

    div#donnees

