extends layout

block content
  //Pour accéder au jeu avec formulaire de connexion
  a(href='/connexion') Play the Game !
  h1.cardName

  div#cardContent
    img(src="")

  div#cardDetail
    h1.cardName
    div#pokemonType
      span#evolution
      span#lifePointType
        span#lifePoint

    div#properties
      div.property
        h3 Faiblesse
        div

      div.property
        h3 Résistance
        div

      div.property
        h3 Coût de Retraite

      div#cardInfo

      script(src="http://localhost:3000/socket.io/socket.io.js")
      script(src="//code.jquery.com/jquery-1.11.0.min.js")
      script(src="js/client.js")
