//
   Created by sebastien on 08/06/2016.

extends layout
block title
    title Jeu
block append stylesheets
    link(rel='stylesheet', href='/stylesheets/maingame.css')
block content
    div#board
        div#board-opponent
            div.cards
                div.cards-hand
                    ul
                div.cards-bench
                    ul
                div.cards-active
                    img(src="", class="interaction hvr-grow" id="opponent-active")
            div.numbered-cards
                div.deck
                    p Deck
                    img(src="images/board/back.png")
                    div.number-cards 60
                div.rewards
                    p Cartes récompenses
                    img(src="images/board/back.png")
                    div.number-cards 6
        div#board-player
            div.cards
                div.cards-active
                    img(src="", class="interaction hvr-grow card-active" id="player-active")
                div.cards-bench
                    ul

                div.cards-hand
                    ul
            div.numbered-cards
                div.rewards
                    p Cartes récompenses
                    img(src="images/board/back.png")
                    div.number-cards 6
                div.deck
                    p Deck
                    img(src="images/board/back.png")
                    div.number-cards 60
        div#zoomed-card
            img(src="#", class="interaction")
            ul#menu-card
                li 
                    a(href="#") Attaque Imprudente
                li 
                    a(href="#") Retrait
                li 
                    a(href="#") Annuler
    script(src="http://localhost:3000/socket.io/socket.io.js")
    script(src="js/jeu.js")