//
   Created by sebastien on 08/06/2016.

extends layout
block title
    title Jeu
block append stylesheets
    link(rel='stylesheet', href='/stylesheets/maingame.css')
block content
    div#board
        div#board-opponent
            div.cards
                div.cards-hand
                    - var n = 0
                    ul
                        while n < 7
                            li
                                img(src="images/board/back.png")
                            - n++
                div.cards-bench
                    - var n = 0
                    ul
                        while n < 3
                            li
                                img(src="images/board/back.png")
                            - n++
                div.cards-active
                    img(src="images/cards/pokemon/XY/XY/24.png", class="interaction hvr-grow")
            div.numbered-cards
                div.deck
                    p Deck
                    img(src="images/board/back.png")
                    div.number-cards 60
                div.rewards
                    p Cartes récompenses
                    img(src="images/board/back.png")
                    div.number-cards 6
        div#board-player
            div.cards
                div.cards-active
                    img(src="images/cards/pokemon/XY/XY/33.png", class="interaction hvr-grow")
                div.cards-bench
                    - var n = 0
                    ul
                        while n < 2
                            li.hvr-grow
                                img(src="images/cards/pokemon/XY/XY/"+(n+1)+".png", class="interaction")
                            - n++
                div.cards-hand
                    - var n = 0
                    ul
                        while n < 7
                            li
                                img(src="images/cards/pokemon/XY/XY/" + (n + 5) + ".png", class="interaction")
                            - n++
            div.numbered-cards
                div.rewards
                    p Cartes récompenses
                    img(src="images/board/back.png")
                    div.number-cards 6
                div.deck
                    p Deck
                    img(src="images/board/back.png")
                    div.number-cards 60
        div#zoomed-card
            img(src="images/cards/pokemon/XY/XY/42.png", class="interaction")
            ul#menu-card
                li 
                    a(href="#") Attaque Imprudente
                li 
                    a(href="#") Retrait
                li 
                    a(href="#") Annuler
    script(src="js/jeu.js")