//
   Created by sebastien on 08/06/2016.

extends layout
block title
    title Jeu
block content
    div#board
        div#board-opponent
            div.cards
                div.cards-active
                div.cards-bench
                div.cards-hand
            div.reverse-cards
                div.rewards
                div.deck
        div#board-player
            div.cards
                div.cards-active
                div.cards-bench
                div.cards-hand
            div.reverse-cards
                div.rewards
                div.deck