extends layout
block title
    title JCC pokémon
block append stylesheets
    link(rel='stylesheet', href='/stylesheets/inscriptionConnexion.css')
    link(rel='stylesheet', href='/stylesheets/menu.css')
block content
    audio(preload="auto" id="sonMenu", src="/sound/menu.mp3", type="audio/mp3")

    //a(href='' style='display:block;text-align:center;') #{username}
    //Menu
    div(id="formMenu" class="menu")
        if deck == 0
            button(id='createDeck') Créer un nouveau Deck
        else
            button(id='editDeck') Modifier le Deck
        button(id='playGame') Lancer une partie
        button(id='logOut') Deconnexion

    //Liste du Deck actuel
    div(id="listDeck")


    script(src="/js/menu.js")
    script(src="/routes/menu.js")
    script(src="/js/creation-deck.js")
