body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background : url("/images/fond_inscription.jpg") 50% 50% ;
    background-size: cover;
    color: white;
    overflow: hidden;
    height:1000px;
}

a {
    color: #00B7FF;
}
.rond{
    border-radius: 50%;

    display: inline-block;
    position: absolute;
    bottom: 10px;
    right:10px;
    font-weight: bold;
    padding: 15px;
    width:15px;
    height: 15px;
}

input{
    display: none;
}
.cardContent {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding : 15px;
    text-align: center;
    margin:1%;
    width: 15%;
    color:white;

}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(96,96,96,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(96,96,96,0.5);
}

div{
    border-radius: 5px;
}
#energies > .cardContent {
    margin:3%;
}

.cardContent img {
    width: 100%;
    display:block;
}
/*
.cardContent:hover {
    cursor:pointer;
    width: 20%;
}
*/
.cardContent > input{
    width: 100px;
    background-color:  rgba(255, 0, 255, 0);
    border:0;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}
/*
.cardContent:not(.purple):hover {
    background-color:  rgba(255, 0, 255, 0.2);

}
*/
.purple{
    background-color: #B08930;
    background: rgba(0,0,0,0);
}

#entete button{
    position: absolute;
    right: 15px;
    background-color: #C59934;
    color: white;
    border: 0;
    cursor: pointer;
    font-size: 25px;
    padding: 5px 20px;
    top:15px;
}

.cartes{
    margin-top: 1%;

    display:inline-block;
    width:70%;
    overflow-y: scroll;
    height:70%;
}

#entete h1{
    font-size: 45px;
    padding: 0;
    margin:0;
}
#entete{
    background-color: rgba(223,179,80,0.9);
    margin-bottom: 15px;
    text-align: center;
    position: relative;
    padding: 10px 0;
}
#top{
    position: fixed;
    bottom: 124px;
    width: 15%;
    right:1%;

}

#donnees{
    display:none;
    position: fixed;
    top: 244px;
    width: 25%;
    right:2.5%;
    background-color: rgba(223,179,80,0.9);
    padding:1%;
    font-size:25px;
}

#menu > ul > li:not(.selected){

    background-color: rgba(192,192,192,0.6);
    border:0;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.09);
    transform: scale(1.09);
    cursor:pointer;
}

#energies{
    display: none;
}
#trainer{
    display: none;
}
ul:hover li {
    opacity: .7;
}

ul li:hover {
    opacity: 1;
    cursor : pointer;
}

li{
    display:inline-block;
    width:15%;
    padding:15px;
    margin:10px;
    background-color: rgba(192,192,192,0.5);

    font-size: 30px;
    font-weight: bold;
    list-style-position:inside;
    border-bottom: 5px solid white;
    text-align:center;
}

ul{
    margin: 0;
    background-color: rgba(223,179,80,0.9);
}

#menu{
    margin :  0;
}

#cardDetail {
    display: inline-block;
    width: 450px;
}
