body{
    background: url('../images/fond_inscription.jpg') repeat 50% 50%;
    background-size:cover;
}

#formConnect h2{
    color:white;
    font-weight: bold;
    text-align: center;
    font-size:40px;
}
#formConnect{
    /*background: -webkit-linear-gradient(bottom, #CCCCCC, #ffffff 175px);
    background: -moz-linear-gradient(bottom, #CCCCCC, #ffffff 175px);*/
    margin: auto;
    position: relative;
    width: 400px;
    height: auto;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
    opacity: 0.7;
    background: rgba(223,179,80,0.7);
    color: white;
}

#formConnect p{
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 5px;
}

button{
    width: 30%;
    display: block;
    margin: 0 auto;
    background-color: #B08930;
    color: #fff;
    height: 30px;
    border:0;
    margin-bottom: 8px;
}

input{
    background: rgba(255,255,255,0.2);
    font-size: 20px;
    width:100%;
    color:white;
    text-decoration-color: white;
    border-radius: 2px;
    border:0;
    padding:5px;
    display: block;
    margin:0 auto;
}

button:hover{
    background: #C59934;
    cursor: url(http://cur.cursors-4u.net/games/gam-13/gam1282.cur), progress !important;
}

fieldset{
    border:0;
    display: block;
    margin:0 auto;
}

hr {
    border: 0;
    height: 1px;
    background: rgba(255,255,255,0.4);
}

/* CSS pour le menu */

#formConnect.menu h2{
 padding-bottom: 2%;
}

#formConnect.menu{
    padding-top: 2%;
    padding-bottom: 2%;
    width:30%;
}

.menu button{
    width:50%;
    height:50px;
    margin:4% auto;
    font-size:20px;
    font-weight: bold;
}



