html, body {
    height:100%;
}
/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.09);
    transform: scale(1.09);
}
/***********/
/* Plateau */
/***********/
#board {
    height:100%;
    background: url('../images/board/background.jpg') no-repeat 50% 50%;
    background-size: cover;
    overflow: hidden;
    position: relative;
}
#board img.interaction {
    cursor: url(/images/icons/gam1282.cur), progress !important;
}
.cards-hand ul,
.cards-bench ul {
    padding:0;
    margin:0 auto;
    text-align:center;
}
.cards-bench ul {
    margin-top:5px;
    margin-bottom:5px;
    background: rgba(0,0,0,.25);
    border: 2px solid rgba(0,0,0,.2);
    border-radius: 2px;
    width: 275px;
    height: 78px;
}
.cards-hand ul li,
.cards-bench ul li{
    display:inline-block;
    position: relative;
    margin: 0 2px;
    margin-top: 4px;
}
.cards-active {
    text-align: center;
    display: block;
}
.cards-active img{
    height: 150px;
}
.life-points {
    color: white;
    text-align: center;
    display: inline-block;
    position: absolute;
    background-color: #ff9005;
    padding: 15px 12px;
    height: 20px;
    width: 25px;
    border-radius: 50%;
    font-weight: bold;
    border: 2px solid black;
}
#end-turn {
    position: absolute;
    right: 15px;
    bottom: 15px;
    background: #275794;
    padding: 10px 25px;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: url(/images/icons/gam1282.cur), progress !important;
}
#end-turn:hover {
    background: #376caf;
}
#recup-card {
    display:none;
}
#result {
    position: absolute;
    top: 0;
    width: 100%;
    height: calc(100% - 100px);
    text-align: center;
    vertical-align: middle;
    background: rgba(0,0,0,.55);
    color: white;
    font-size: 150px;
    z-index: 5;
    padding-top: 100px;
}
#result a {
    background: #275794;
    padding: 10px 25px;
    color: white;
    border-radius: 3px;
    cursor: url(/images/icons/gam1282.cur), progress !important;
    text-decoration: none;
    font-size: 20px;
    display: block;
    width: 200px;
    margin: 0 auto;
    margin-top: 100px;
}
#result a:hover {
    background: #376caf;
}

/******************/
/*  Carte zoomée  */
/* - #zoomed-card */
/******************/
#zoomed-card {
    position:absolute;
    top:100px;
    left:40px;
    display:none;
    pointer-events: none;
}
#zoomed-card img {
    height:450px;
    padding: 10px;
    border-radius: 10px;
    background: rgba(0,0,0,.65);
}
#zoomed-card #menu-card {
    list-style: none;
    display: inline-block;
    vertical-align: top;
    background: rgba(0,0,0,.65);
    padding: 0;
    border-radius: 0 10px 10px 0;
    pointer-events:all;
    min-width:220px;
}
#zoomed-card #menu-card li a{
    text-decoration: none;
    display: block;
    padding: 8px 25px;
    color:white;
}
#zoomed-card #menu-card li a b {
    color: #b7b7f3;
}
#zoomed-card #menu-card li a:hover{
    color:#99cb4c;
}
#zoomed-card #menu-card li.withdraw, #zoomed-card #menu-card li.show-active, #zoomed-card #menu-card li.show-bench, #zoomed-card #menu-card li.attack {
    margin-left: 20px;
    display:none;
}

/**************************/
/* Cartes rewards et deck */
/**************************/
.numbered-cards {
    position: relative;
    text-align: center;
}
#board-player .numbered-cards > div {
    position: absolute;
    bottom: 250px;
}
#board-opponent .numbered-cards > div {
    position: absolute;
    top: -270px;
}
.numbered-cards .deck img, .numbered-cards .rewards img {
    height:120px;
}
#board-opponent .numbered-cards .deck img, #board-opponent .numbered-cards .rewards img {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}
#board-opponent .numbered-cards p {
    color:white;
}
#board-player .numbered-cards .rewards {
    left: 150px;
}
#board-player .numbered-cards .deck {
    right: 150px;
}
#board-opponent .numbered-cards .rewards {
    right: 120px;
}
#board-opponent .numbered-cards .deck {
    left: 180px;
}
.number-cards{
    position: relative;
    text-align: center;
    margin: 0 auto;
    margin-top: -25px;
    background: white;
    width: 20px;
    padding: 10px;
    border-radius: 50%;
    display: block;
    font-weight: bold;
    border: 1px solid grey;
}

/***********************/
/* Plateau coté joueur */
/*  - #board-player    */
/***********************/
#board-player {
    margin-top: -30px;
    position:relative;
    bottom:0px;
    height:50%;
}
#board-player .cards-hand li {
    top:0;
    -webkit-transition: top .5s;
    transition: top .5s;
    z-index:3;
}
#board-player .cards-hand li:hover {
    top:-80px;
}
#board-player .cards-hand li img{
    height:170px;
}
#board-player .cards-bench ul {
    width: 475px;
    height: 133px;
}
#board-player .cards-bench li img {
    height: 125px;
}
#board-player .cards-active {
    margin-bottom: 15px;
    visibility: hidden;
}

/***************************/
/* Plateau coté adversaire */
/*  - #board-opponent      */
/***************************/
#board-opponent {
    position:relative;
    top: -50px;
    height:50%;
}
#board-opponent .cards-hand li img,
#board-opponent .cards-bench li img{
    height:70px;
}
#board-opponent .cards-hand,
#board-opponent .cards-bench {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}
#board-opponent .cards-active {
    margin-top: 10px;
    visibility: hidden;
}

/**********/
/* Icones */
/**********/
.energies-icones {
    position: absolute;
    display: inline;
    top: 120px;
    pointer-events: none;

}
#board-opponent .energies-icones {
    top: 300px;
}
#board-player .cards-bench .energies-icones {
    top: 2px;
    left: 62px;
}
.icoLIGHTNING {
    background-image: url("/images/icons/energy-types.png");
    background-position: -25px -25px;
    width: 25px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.icoCOLORLESS {
    background-image: url("/images/icons/energy-types.png");
    background-position: -25px -0px;
    width: 25px;
    height: 25px;
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
}

.icoFIGHTING {
    background-image: url("/images/icons/energy-types.png");
    background-position: -50px -25px;
    width: 25px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.icoMETAL {
    background-image: url("/images/icons/energy-types.png");
    background-position: -75px -0px;
    width: 25px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.icoWATER {
    background-image: url("/images/icons/energy-types.png");
    background-position: 25px -50px;
    width: 25px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.icoPLANT {
    background-image: url("/images/icons/energy-types.png");
    background-position: -25px -50px;
    width: 25px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.icoFIRE {
    background-image: url("/images/icons/energy-types.png");
    background-position: 0px -0px;
    width: 25px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.icoDARKNESS {
    background-image: url("/images/icons/energy-types.png");
    background-position: -0px -50px;
    width: 25px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.icoFAIRY {
    background-image: url("/images/icons/energy-types.png");
    background-position: -50px -0px;
    width: 25px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.icoPSYCHIC {
    background-image: url("/images/icons/energy-types.png");
    background-position: 25px -25px;
    width: 25px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}