#formMenu .menu{
    width:100%;

}

button{
    display:inline-block;
}

#createDeck{
    width:20%;
}

#editDeck{
     width:20%;
 }

#playGame{
    width:60%;
}

#logOut{
    width:20%;
}

#listDeck{
    margin-left:auto;
    margin-right:auto;
    display:block;
    width:90%;
    height:100%;
    text-align: center;
}

#listDeck img{
    width:150px;
    margin:10px;
}


.cards:hover {
    width:150px;
}

.enabled{
    opacity:0.25;
}

.enabled:hover{
    cursor:default;
}

.occurence{
    text-align:center;
    border: 2px solid white;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    margin-top:-8px;
    margin-left:-135px;
    font-weight: bold;
    background-color:red;
    width:100px;
    height:50px;
    z-index:-1;
    color:white;
}


.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    position:relative;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    z-index:2;
}